$smallScreen: 800px;
$largeScreen: 1310px;
$mediumScreen: 1000px;
$mobile: 600px;
$miniMobile: 500px;



.body{
  text-align: left;
  .body_featuredCities{
    margin: 20px auto 50px;
    max-width: 1300px;
    color: #ffffff;
    text-align: left;
    overflow: hidden;
    h1{
      font-size: 40px;
      margin-bottom: 40px;
      line-height: 46px;
      text-transform: capitalize;
      color: #000000;
    }
    h2{
      text-transform: capitalize;
      font-weight: 400;
      margin-bottom: 5px;
      margin-top: 0;
    }
    p{
      text-transform: capitalize;
      margin-top: 8px;
    }
    .cities{
      // margin-bottom: 30px;
      margin: 0 auto 30px;
      width: 100%;
      gap: 10px;
      display: flex;
      // flex-wrap: wrap;
      // display: grid;
      // grid-template-columns: 1fr 1fr;
      text-align: center;
      justify-content: space-between;
      // width: 100vw;

      .city{
        position: relative;
        display: flex;
        height: 348px;
        width: 640px;
        overflow: hidden;
        // grid-template-columns: 1fr 1fr;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: radial-gradient(50% 50% at 50% 50%, rgba(18, 23, 30, 0.654531) 0%, rgba(62, 148, 254, 0.22) 100%);
        img{
          position: absolute;
          right: 0;
          width: 100%;
          top: 0;
          z-index: -1;
        }
        div{
          h2{
            font-size: 60px;
            line-height: 69px;
          }
          p{
            font-size: 20px;
            line-height: 23px;
          }
        }
      }
    }
    .otherCities{
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .cityOthers{
        position: relative;
        border-radius: 5px;
        display: flex;
        height: 347px;
        width: 421px;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: radial-gradient(50% 50% at 50% 50%, rgba(18, 23, 30, 0.654531) 0%, rgba(62, 148, 254, 0.22) 100%);
        
        img {
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          z-index: -1;
        }
        div {
          h2 {
            font-size: 60px;
            line-height: 69px;
          }
          font-size: 27.0716px;
          line-height: 31px;
        }
      }
    }
  }
  .body_featuredPlaces{
    margin: 10px auto 50px;
    max-width: 1300px;
    text-align: left;
    position: relative;
    overflow: hidden;
    h1{
      font-size: 40px;
      margin-bottom: 40px;
      line-height: 46px;
      text-transform: capitalize;
    } 
  }
  .body_amazingExperience{
    margin: 10px auto 50px;
    max-width: 1300px;
    position: relative;
    overflow: hidden;
    h1{
      font-size: 40px;
      margin-bottom: 40px;
      line-height: 46px;
      text-transform: capitalize;
    }
  }
  .body_summary{
    color: #ffffff;
    padding: 0 70px;
    margin: 20px auto;
    max-width: 1300px;
    background: #3E94FE;
    box-shadow: 0px 30px 60px rgba(62, 148, 254, 0.2);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 399px;
    padding: 51px 67px;
    div{
      // text-align: left;
      h2{
        font-size: 30px;
        line-height: 34px;
        text-transform: capitalize;
        font-weight: 400;
      }
      p{
        width: 226px;
        font-size: 17px;
        line-height: 22px;
        // font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: $smallScreen) {
  .body {
    text-align: left;

    .body_featuredCities {
      margin: 10px auto;
      max-width: 600px;

      h1 {
        font-size: 35px;
        line-height: 40px;
      }

      h2 {
        margin-bottom: 5px;
        margin-top: 0;
      }

      p {
        margin-top: 8px;
      }

      .cities {
        margin: 0 auto 10px;
        width: 100%;
        gap: 7px;

        .city {
          height: 159px;
          width: 290px;
          overflow: hidden;
          text-align: center;
          background: radial-gradient(50% 50% at 50% 50%, rgba(18, 23, 30, 0.654531) 0%, rgba(62, 148, 254, 0.22) 100%);

          img {
            position: absolute;
            right: 0;
            width: 100%;
            top: 0;
            z-index: -1;
          }

          div {
            h2 {
              font-size: 23.0592px;
              line-height: 26px;
            }

            p {
              font-size: 7.6864px;
              line-height: 9px;
            }
          }
        }
      }

      .otherCities {
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 4px;

        .cityOthers {
          position: relative;
          border-radius: 5px;
          display: flex;
          height: 156.3px;
          width: 190px;
          overflow: hidden;
          align-items: center;
          justify-content: center;
          text-align: center;
          background: radial-gradient(50% 50% at 50% 50%, rgba(18, 23, 30, 0.654531) 0%, rgba(62, 148, 254, 0.22) 100%);

          img {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: -1;
          }

          div {
            h2 {
              font-size: 23.0592px;
              line-height: 26px;
            }
            p{
              font-size: 7.6864px;
              line-height: 9px;
            }
          }
        }
      }
    }

    .body_featuredPlaces {
      margin: 10px auto;
      // padding-left: 23px;
      max-width: 600px;
      overflow: hidden;

      h1 {
        font-size: 35px;
        line-height: 40px;
      }
    }

    .body_amazingExperience {
      margin: 10px auto;
      // padding-left: 23px;
      max-width: 600px;

      h1 {
        font-size: 35px;
        line-height: 40px;
      }
    }

    .body_summary {
      margin: 0 auto;
      justify-content: center;
      column-gap: 20px;
      row-gap: 80px;
      padding: 51px 67px;

      div {
        padding: 5px 0;
        text-align: center;
      }
    }
  }
  @media screen and (max-width: $mobile){
    .body_featuredCities {
      max-width: 500px !important;
      margin: 0 auto;
    
      .cities {
        margin: 0 auto 18px !important;
        gap: 4px !important;
    
        .city {
          height: 133px !important;
          width: 244px !important;
        }
      }
    
      .cityOthers {
        height: 133px !important;
        width: 160px !important;
      }
    
    }
    
    .body_amazingExperience {
      max-width: 500px !important;
      margin-bottom: 30px;
    }
    
    .body_featuredPlaces {
      max-width: 500px !important;
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: $miniMobile) {
    .body_featuredCities {
      max-width: 400px !important;
      margin: 0 auto;

      .cities {
        margin: 0 auto 10px !important;
        gap: 2px !important;
    
        .city {
          height: 104px !important;
          width: 190px !important;
        }
      }
    
      .cityOthers {
        height: 102px !important;
        width: 125px !important;
      }
    
    }
    
    .body_amazingExperience {
      max-width: 400px !important;
      margin-bottom: 30px;
    }
    
    .body_featuredPlaces {
      max-width: 400px !important;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: $largeScreen) and (min-width: $mediumScreen){
  .body{
    .body_featuredCities {
      max-width: $mediumScreen;
      margin: 0 auto;
      
      .cities{
        margin: 0 auto 23px !important;
        .city {
          height: 265px!important;
          width: 490px!important;
        }
      }
    
      .cityOthers {
        height: 260px!important;
        width: 320px!important;
      }

    }

    .body_amazingExperience{
      max-width: $mediumScreen !important;
      margin-bottom: 30px;
    }

    .body_featuredPlaces{
      max-width: $mediumScreen !important;
      margin-bottom: 10px;
    }
  }


}

@media screen and (max-width: $mediumScreen) and (min-width: $smallScreen) {
  .body {
    .body_featuredCities {
      max-width: 830px;
      margin: 0 auto;

      .cities {
        margin: 0 auto 23px !important;

        .city {
          height: 220px !important;
          width: 400px !important;
        }
      }

      .cityOthers {
        height: 218px !important;
        width: 265px !important;
      }

    }

    .body_amazingExperience {
      max-width: 830px !important;
      margin-bottom: 30px;
    }

    .body_featuredPlaces {
      max-width: 830px !important;
      margin-bottom: 10px;
    }
  }


}