
.places {
  display: flex;
  justify-content: space-between;
  gap: 21.2px;
  overflow: hidden;
}



.experiences {
  display: flex;
  gap: 21.2px;
  justify-content: space-between;
  overflow: hidden;

}